* {
    margin: 0;
}

.rowReverse {
    flex-direction: row-reverse;
}

body {
    background-color: #eff0f4;
    
}

.fondoImagen {
    background-image: url(./Img/fondo3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

h1 {
    background-color: rgba(224, 203, 203, 0.5);
    height: 50px;
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-left: 1rem;
}

h2 {
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    font-size: 20px;
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-family: "Roboto";
    font-size: 15px;
    text-align: justify !important;
}

.cajaIndex {
    background-color: rgba(255, 255, 255, 0.8);  
    height: 200px;
    border-radius: 6px;
}
footer {
    height: 25px;
}

.espacio {
    margin: 2rem;
}

header, footer {
    background: rgb(48, 48, 96) ;
}

main section section {
    height: 500px;
    padding-top: 8rem;
}

.carousel-control-prev-icon {
    margin-right: 5rem;
}
.carousel-control-next-icon {
    margin-left: 5rem;
}

.boton {
    background-color: rgb(238, 201, 34);

}

.boton:hover {
    background: rgb(48, 48, 96) ;
    color: white;
}

.filter {
    display: none;
}

.flex {
    display: flex;
}

.pTamanio {
  font-size: 17px;
}

.cart-btn {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
  }
  
  #cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    /* margin: 1em 2em 0 0; */
  }
  
  .cart-quantity {
    color: white;
    background-color: red;
    padding: .2em .3em;
    position: absolute;
    margin: -15px 50px 0px 0px;
    right: 0;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
  }

  .cart-modal-overlay {
    position: fixed;
    width: 94vw;
    height: 100%;
    z-index: 2;
    transform: translateY(-200%);
    transition: .5s ease-out;
  }
  .cart-modal-overlay.open {
    transform: translateY(56%);
  }
  .cart-modal {
    height: 100vh;
    width: 50%;
    background-color: rgb(50,50,50);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
  }

  .cart-is-empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
  }
  
  .total {
    text-align: center;
    margin: 2em 0 2em 0;
  /*   display: none; */
  }
  
  .cart-total {
    color: white;
  }
  
  .total-price {
    color: white;
    font-size: 2rem;
    display: block;
  }

  .purchase-btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 1em 0 3em 0;
  }
  
  #close-btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 4em 0 0;
    color: white;
    cursor: pointer;
  }
  .cart-image {
    width: 150px;
    margin: 1rem;
  }
  .product-quantity {
    width: 2rem;
    height: 1.2rem;
    font-size: 1rem;
    margin-left: 3rem;
  }
  .remove-btn {
    padding: 1em 2em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .remove-btn:active {
    transform: translateY(5px);
  }
  .cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .product-rows {
    margin-top: 3em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .product-row {
    display: flex;
    align-items: center;
  }
  .cart-cantidad {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    padding-left: 1rem;
  }